#root {
  min-height: 100dvh;
  background-color: var(--light-green);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
}
