.board-game-item-simple h3 {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--dark-green);
  color: var(--white);
  width: 100%;
  font: var(--sub-header-font);
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
