.meeting-item {
  margin-bottom: 1rem;
  border: 2px solid var(--dark-green);
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
  background-color: rgba(0, 0, 0, 0.045);
  cursor: pointer;
  overflow: hidden;
}

.meeting-item:hover h2 {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.meeting-item h2 {
  background-color: var(--dark-green);
  padding: 0.2rem 1rem;
  color: var(--white);
}

.meeting-item p {
  padding: 0 1rem;
}
