.meeting-item {
  margin-bottom: 1rem;
  border: 2px solid var(--dark-green);
  border-radius: 0.5rem;
  box-shadow: var(--focus-shadow);
  background-color: rgba(0, 0, 0, 0.045);
  cursor: pointer;
  overflow: hidden;
}

.all-meetings a:last-of-type .meeting-item {
  margin-bottom: 0;
}

.meeting-item:hover h2 {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.meeting-item h2 {
  background-color: var(--dark-green);
  padding: 0.2rem 1rem;
  color: var(--white);
}

.meeting-item p {
  margin-bottom: 0.5rem;
}

.meeting-details {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}
